﻿<div class="card mt-4">
    <h4 class="card-header">Hello {{user.unique_name}}</h4>
    <div class="card-body">
      <button (click)="submit()">Запустить парсер</button>
      <div>{{result}}</div>
    </div>
</div>
