
<h1>Home</h1>
<p>You're logged in with Angular 7 & JWT!!</p>
<div>
    Users from secure api end point:
    <ul>
        <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
    </ul>
</div>

<div>
  <button (click)="submit()">Запустить парсер</button>
  <div>{{result}}</div>
</div>

